@import './../../assets/style/style.scss';

.header {
  position: relative;
  z-index: 1;
  margin-top: 20px;
}

.header__nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  gap: 20px 25px;
}

.header__home {
  font-size: 1.5rem;
  font-size: clamp(1.5rem, 1.02rem + 2.04vw, 2rem);
  line-height: 1;
  color: var(--text1);
  text-decoration: none;
  transition: color var(--transition);
  flex: 1 0 100%;
}

.header__home:hover {
  color: var(--accent);
}

.header__social svg {
  display: block;
}

.header__social > svg > path {
  transition: fill var(--transition);
}

.header__social:hover > svg > path {
  fill: var(--accent);
}

@media (min-width: 37.5em) {
  .header {
    margin-top: 30px;
    // margin-bottom: 90px;
  }

  .header__nav {
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    gap: 32px;
  }

  .header__home {
    flex: 1;
    margin-inline-end: auto;
  }
}

@media (min-width: 62.5em) {
  .header {
    margin-top: 40px;
    margin-bottom: 127px;
  }

  .header__nav {
    padding-right: 30px;
  }
}
