@import './assets/style/style.scss';

body {
  background-color: var(--bg-body);
  color: var(--text1);
  font-size: var(--fs-18);
}

.wrapper {
  width: calc(100% - 2rem);
  max-width: var(--container);
  margin-inline: auto;
}

/* 600px */
@media (min-width: 37.5em) {
  .wrapper {
    width: calc(100% - 3.75rem);
  }
}
